source ~/.cache/wal/colors.sh 

*foreground = ${xrdb:color7}
*background = ${xrdb:color2}


URxvt.font: xft:Source Code Pro:size=10.5
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19

rofi.color-enabled: true
rofi.color-window: #1c1c22, #3e646f, #3e646f
rofi.color-normal: #1c1c22, #d9d6ca, #85aab6, #d9d6ca, #78824B
rofi.color-active: #1c1c22, #d9d6ca, #85aab6, #d9d6ca, #78824B
rofi.color-urgent: #1c1c22, #d9d6ca, #85aab6, #d9d6ca, #78824B

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Source Code Pro Semibold 10.5
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
