:root {
  --color0: #14171A;
  --color1: #BD8C76;
  --color2: #6B7887;
  --color3: #68ACA8;
  --color4: #A09A9E;
  --color5: #D4AFA8;
  --color6: #CEC9B5;
  --color7: #EFDFDB;
  --color8: #666666;
  --color9: #BD8C76;
  --color10: #6B7887;
  --color11: #68ACA8;
  --color12: #A09A9E;
  --color13: #D4AFA8;
  --color14: #CEC9B5;
  --color15: #EFDFDB;
}
